<div class="row">
    <!-- Titulo -->
    <div class="col-12 textAzul textoALaIzquierda">
        <br>
        <h4>NUESTROS SERVICIOS</h4>
    </div>
</div>

<hr>
<!-- Separador -->

<div class="container">
    <!-- Tratamientos -->

    <div class="row">

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
            <!-- Tratamiento 1 -->
            <div class="card card-inverse card-info text-center">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento1.png" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa">ODONTOLOGÍA GENERAL</h5>
                    <p class="card-text textAzul text-left">Consiste en prevenir, diagnosticar y tratar los problemas comunes del público, si desea o requiere un chequeo o rutina general como: eliminación de caries, limpieza o prótesis bucal sin compromiso estético, funcional o periodontal,
                        este es su servicio indicado.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- Tratamiento 2 -->
            <div class="card">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento2.png" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa text-center">CIRUGÍA DENTAL</h5>
                    <p class="card-text textAzul text-left">Contamos con extracción de los terceros molares incluidos (cordales), extracciones dentarias simples, colocación de implantes y cirugías periapicales, extirpación y biopsia de lesiones orales menores; entre otras. La mayoría de estos
                        procedimientos se realizan bajo anestesia local.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
            <!-- Tratamiento 3 -->
            <div class="card card-inverse card-primary text-center">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento5.png" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa">ORTODONCIA</h5>
                    <p class="card-text textAzul text-left">Contamos con aparatos preajustados que aplican fuerza ligera que permite mover los dientes logrando posiciones ideales, tenemos también tratamientos de ortodoncia convencionales como brackets y usamos técnicas de modificación del crecimiento
                        craneofacial.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
            <!-- Tratamiento 4 -->
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento3.png" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa">BLANQUEAMIENTO DENTAL</h5>
                    <p class="card-text textAzul text-left">Consiste en un tratamiento dental estético que logra reducir varios tonos el color original de las piezas dentales, dejando los dientes más blancos y brillantes. Éste elimina la mayoría de las manchas producidas por té, café, otras
                        infusiones, cigarrillos, vino tinto y entre otras sustancias y alimentos.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
            <!-- Tratamiento 5-->
            <div class="card card-inverse card-info text-center">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento6.png" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa">IMPLANTES DENTALES</h5>
                    <p class="card-text textAzul text-left">Son pequeños dispositivos de titanio en forma de cilindro que son capaces de oseointegrarse a las estructuras maxilares para sustituir los dientes perdidos por caries, traumatismos y enfermedad periodontal, evitando las prótesis removibles.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
            <!-- Tratamiento 6 -->
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="../../../assets/images/tratamiento4.jpg" alt="Card image cap">
                <div class="card-block fondoGris">
                    <h5 class="card-title titulosRosa">PERIODONCIA</h5>
                    <p class="card-text textAzul text-left">Tratamiento que permite prevención, diagnóstico y tratamiento de todas las enfermedades infecciosas que atacan al aparato de fijación de los dientes: encías, hueso alveolar, cemento y ligamento periodontal, y que son las responsables
                        hasta del 80% de las pérdidas dentarias.</p>
                </div>
            </div>
        </div>





    </div>

</div>

<hr>
<div class="row">
    <!--Hacerse servicio ARREGLAR-->
    <div class="col-6">
        <h4 class="textAzul text-center">Si desea hacerse uno de nuestros tratamientos</h4>
    </div>
    <div class="col-6"><button class="btn btn-dark h-100 w-100" routerLink="/nuestro-portal">Solicitar servicio</button></div>

</div>