<div class="container-fluid">
    <div class="row">
        <div class="col d-none d-lg-flex">
            <!-- Slider Componente-->
            <app-slider></app-slider>
        </div>
    </div>
    <div class="row"><!-- Introduccion -->
        <div class="col text-center m-3 textoAzul">
            <hr>
            <h1>Primero, tu salud dental</h1>
            <p>Los mejores profesionales, la tecnología más avanzada, investigación, formación y un modelo común de gestión aseguran el compromiso del grupo por la calidad de nuestros servicios para todos. Adolf Dental Care cubre todas las especialidades
                odontológicas, y destaca, con reconocido prestigio, en el diagnóstico y tratamiento de patologías dentales en adultos y niños.</p>
        </div>
    </div>

    <div class="row"><!-- Separador -->
        <div class="col"><hr></div>
    </div>

    <div class="row"><!-- Sobre clínica-doctor Adolf-->
        <div class="col-2 d-none d-lg-flex">
            <img src="../../../assets/rayas.png" class="img-fluid tamañoImagen" height="5px" alt="">
        </div>
        <div class="col-xs-12 col-lg-5 text-center">
            <!-- Sobre nosotros -->
            <br><br>
            <h2 class="titulosRosa">SOBRE NUESTRA CLÍNICA</h2>
            <p class="textoALaIzquierda">Nuestro objetivo principal es siempre el logro de resultados a largo plazo en los tratamientos de su salud dental. Siempre estamos haciendo de nuestro consultorio dental lo más seguro posible!</p>
            <br><br>
            <h5 class="titulosRosa">Dr. Adolf Hitler</h5>
            <h6 class="titulosRosa">Jefe Médico, ortodoncista</h6>

            <div class="row">
                <div class="col-2  d-none d-lg-flex">
                    <img src="../../../assets/comillas.png" height="50px" alt="">
                </div>
                <div class="col"></div>
                <p>Soy un especialista dental dedicado con 20 años de experiencia en ortodoncia y entrenado en el diagnóstico y tratado de problemas periodontales.</p>
                <br><br><br><br>

                <div class="row">
                    <div class="col-xs-12 col-md-8 ">
                        <h4 class="textoAzul">Para más información</h4>
                        
                    </div> <!-- REVISAR POR QUE NO SE CENTRA-->
                    <div class="col-xs-12 col-sm-12 col-md-8 "></div>
                    <button type="button" class="btn btn-dark" width="50%">Sobre Nosotros</button>
                </div>
            </div>

        
        </div>
        <div class="col-5  d-none d-lg-flex" >
            <img src="../../../assets/senorAdolf.png" class="img-fluid" height="10px" alt="">
        </div>
    </div>

  
    <div class="row"> <!-- Separador -->
        <div class="col"><hr></div>
    </div>

    <div class="row fondoGris"> <!-- Parte de  algunas razones para escogernos-->
        
        <div class="col-12 textoBlanco">
            <br> <br>
            <h4 class="text-center">Algunas razones</h4>

        </div>
        <div class="col-12 textoAzul ">

            <h2 class="text-center">PARA ESCOGERNOS</h2>
            <br> <br>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon1.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon2.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon3.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon4.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon5.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>
            <div class="col-xs-3 col-sm-4">
                <img src="../../../assets/Razon6.png" class="img-fluid tamañoImagen" height="5px" alt="">
       
            </div>

        </div>
    
    </div>

    <br><!-- Separador ilegal-->

    <div class="row"><!-- Parte de nuestros servicios-->
        <div class="col-8 textoAzul">
            <h2>NUESTROS SERVICIOS</h2>
        </div>
        
        <div class="col-4 justify-content-center">
            <button type="button" class="btn btn-dark" width="150%" height="50%">VER TODOS</button>
               
        </div>
        <div class="row">
            <div class="col-xs-6 col-md"> <img src="../../../assets/servicio1.png" class="img-fluid tamañoImagen" height="50%" alt=""></div>
            <div class="col-xs-6 col-md"> <img src="../../../assets/servicio2.png" class="img-fluid tamañoImagen" height="50%" alt=""></div>
            <div class="col-xs-6 col-md"> <img src="../../../assets/servicio3.png" class="img-fluid tamañoImagen" height="50%" alt=""></div>
            <div class="col-xs-6 col-md"> <img src="../../../assets/servicio4.png" class="img-fluid tamañoImagen" height="50%" alt=""></div>
        </div>
       
    </div>
    

    <div class="row"> <!-- Separador -->
        <div class="col"><hr></div>
    </div>







</div>
