<app-header></app-header>

<div class="container-fluid">

    <!-- Slider Componente -->
    <div class="row d-none d-lg-flex justify-content-center">
        <app-slider></app-slider>
    </div>

    <!-- Introduccion -->
    <div class="row">
        <div class="col text-center m-3 textoAzul">
            <img class="d-lg-none m-2" src="../../../assets/introduccion.png" width="200px" alt="">
            <hr>
            <h1>Primero, tu salud dental</h1>
            <h5 class="m-3">Los mejores profesionales, la tecnología más avanzada, investigación, formación y un modelo común de gestión aseguran el compromiso del grupo por la calidad de nuestros servicios para todos. Adolf Dental Care cubre todas las especialidades
                odontológicas, y destaca, con reconocido prestigio, en el diagnóstico y tratamiento de patologías dentales en adultos y niños.</h5>
            <hr>
        </div>
    </div>

    <!-- Sobre Nosotros -->
    <div class="row">

        <div class="col">

            <div class="row">
                <!-- Imagen Adolf -->
                <div class="col d-flex d-lg-none">
                    <img src="../../../assets/senorAdolf.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row">
                <!-- Rayas -->
                <div class="col-2 d-none d-lg-flex">
                    <img src="../../../assets/rayas.png" class="img-fluid tamañoImagen" alt="">
                </div>

                <!-- Sobre nosotros -->
                <div class="col-xs-12 col-lg-5 text-center">
                    <div class="row">
                        <div class="col">
                            <h1 class="titulosRosa m-3">SOBRE NUESTRA CLÍNICA</h1>
                            <h5 class="textoAzul">Nuestro objetivo principal es siempre el logro de resultados a largo plazo en los tratamientos de su salud dental. Siempre estamos haciendo de nuestro consultorio dental lo más seguro posible!</h5>
                            <h3 class="titulosRosa m-3">Dr. Adolf Hitler</h3>
                            <h4 class="titulosRosa">Jefe Médico, ortodoncista</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 d-none d-lg-flex">
                            <img src="../../../assets/comillas.png" height="45px" alt="">
                        </div>
                        <div class="col-auto col-lg-10">
                            <h5 class="textoAzul text-center text-lg-left">Soy un especialista dental dedicado con 20 años de experiencia en ortodoncia y entrenado en el diagnóstico y tratado de problemas periodontales.</h5>
                        </div>
                    </div>

                    <div class="row separar">
                        <div class="col">
                            <h4 class="textoAzul">Para más información</h4>
                            <a href="sobre-nosotros" class="enlace btn btn-primary h-75 w-50">SOBRE NOSOTROS</a>
                        </div>
                    </div>
                </div>

                <!-- Imagen Adolf -->
                <div class="col-5 d-none d-lg-flex">
                    <img src="../../../assets/senorAdolf.png" class="adolf img-fluid" alt="">
                </div>
            </div>
        </div>

        <!-- Algunas razones para escogernos-->
        <div class="row fondoGris mt-4">

            <div class="col">
                <div class="row">
                    <div class="col text-center m-4">
                        <h3 class="textoBlanco">Algunas razones</h3>
                        <h1 class="textoAzul">PARA ESCOGERNOS</h1>
                    </div>
                </div>

                <div class="row">

                    <div *ngFor="let razon of razones" class="col-12 col-sm-6 col col-lg-4">
                        <img [src]=razon class="img-fluid" alt="">
                    </div>

                </div>

            </div>

        </div>

        <!-- Parte de nuestros servicios-->
        <div class="row mt-3">

            <div class="col">

                <div class="row">

                    <div class="col-12 col-md-9 text-center text-md-left">
                        <h1 class="textoAzul">NUESTROS SERVICIOS</h1>
                    </div>

                    <div class="col-12 col-md-3">
                        <a href="servicios" class="enlace btn btn-primary h-100 w-100">VER TODOS</a>
                    </div>

                </div>

            </div>

            <div class="row m-2">
                <div *ngFor="let servicio of servicios" class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img [src]=servicio.imagen class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h4 class="card-title titulosRosa">{{ servicio.titulo }}</h4>
                            <h6 class="card-text textoAzul text-justify">{{ servicio.descripcion }}</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
