<div class="container">

    <div class="row mb-4 mt-2">
        <div class="col-12 titulosRosa text-center">
            <h4>GESTIÓN DE COMUNICACIÓN</h4>
        </div>
    </div>


    <div class="row textAzul ">
        <div class="col-6">
            <h5>Seleccionar paciente:</h5>
        </div>
        <div class="col-6">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="perfilActivo" [ngModelOptions]="{standalone: true}">
                      <option></option>
                      <option *ngFor="let pac of pacientes" onclick="seleccionaPaciente()">{{ pac.paciente.nombre }} {{ pac.paciente.apellido }}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row textAzul ">
        <div class="col-6">
            <h5>Tipo de mensaje:</h5>
        </div>
        <div class="col-6">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="mensajeActivo" [ngModelOptions]="{standalone: true}">
                  <option>Recordatorio de Cita</option>
                  <option>Recordatorio de Pago Pendiente</option>
                  <option>Mensaje Personalizado</option>
                </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <button (click)="cambiarMensaje()" class="btn btn-dark h-100">SELECCIONAR MENSAJE</button>
        </div>
    </div>

    <!-- AQUI DEBE SALIR EL CUADRO LUEGO DE SELECCIONAR EL TIPO DE MENSAJE CON LA ESTRURA -->

    <div class="row mt-4">
        <div class="col-12 col-sm-3">
            <h5 class="text-left textoAzul">Asunto:</h5>
        </div>
        <div class="col-12 col-sm-9">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-sm-3">
            <h5 class="text-left textoAzul">Mensaje:</h5>
        </div>
        <div class="col-12 col-sm-9 form-group">
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>



    <div class="row text-center mt-4">
        <div class="col">
            <button class="btn btn-dark h-100">ENVIAR MENSAJE</button>
        </div>
    </div>

















</div>
