<div class="foot row backAzul mt-3 mb-0">

    <!-- Seccion de breve descricion de la clinica -->
    <div class="col-md-4 text-center align-self-center">
        <!-- Logo -->
        <img class="img-fluid w-50" src="../../../assets/images/logoAdolfDentalCare.png" alt="">
        <p class="textoBlanco d-none d-md-block text-center">Nuestra clínica odontológica se dedica a brindar atención odontológica especializada e integral, para ofrecer las mejores y más adecuadas opciones de tratamiento a nuestros pacientes.</p>
    </div>

    <!-- Accesos Rapidos -->
    <div class="col-md-4 d-none d-md-block mt-3">
        <nav class="navbar navbar-light d-flex justify-content-center">
            <ul class="navbar-nav text-center">
                <li class="nav-item text-center">
                    <a class="nav-link enlace" (click)="redirigir('/inicio')">
                        <h5>INICIO</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" (click)="redirigir('/sobre-nosotros')">
                        <h5>SOBRE NOSOTROS</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" (click)="redirigir('/servicios')">
                        <h5>SERVICIOS</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" (click)="redirigir('/nuestro-portal')">
                        <h5>NUESTRO PORTAL</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" (click)="redirigir('/contacto')">
                        <h5>CONTACTO</h5>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Contactanos -->
    <div class="col-sm-12 col-md-4">

        <div class="row">

            <div class="col text-center mb-2"><br>
                <h5 class="titulosRosa">¡CONTÁCTANOS!</h5>
            </div>

        </div>

        <div class="row">

            <div class="col-12 textoBlanco text-center">
                <a href="mailto:AdolfDCare?Subject=Interesado%20en%20ustedes" target="blank">
                    <img src="../../../assets/images/mail.png" class="img-fluid imagen">
                    <p>AdolfDCare@gmail.com</p>
                </a>
            </div>

            <div class="col-12 textoBlanco text-center">
                <a href="https://api.whatsapp.com" target="blank">
                    <img src="../../../assets/images/whatsapp.png" class="img-fluid imagen">
                    <p>0212-555-5555</p>
                </a>
            </div>

        </div>
        <div class="row">

            <div class="col-4 text-center">
                <a href="https://twitter.com/adolfdentalcare" target="blank">
                    <img src="../../../assets/images/gorjeo-2.png" class="img-fluid imagen">
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="https://www.instagram.com/adolfdentalcare/" target="blank">
                    <img src="../../../assets/images/instagram-2.png" class="img-fluid imagen">
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="https://api.whatsapp.com" target="blank">
                    <img src="../../../assets/images/whatsapp.png" class="img-fluid imagen">
                </a>
            </div>

        </div>

    </div>

    <!-- Separador -->
    <div class="col-12">
        <hr>
    </div>

    <!--Derechos R-->
    <div class="col-12 text-center">
        <p class="titulosRosa copyrights font-weight-bold">2020 © Adolf Dental Care. All Rights Reserved.</p>
    </div>
</div>