<div class="row">
    <div class="col">
        <h5>Nombre</h5>
        <input type="text" [(ngModel)]="nombre" placeholder="Modifica tu nombre">
        <button (click)='guardarNombre()'>Guardar</button>

        <h5>Apellido</h5>
        <input type="text" [(ngModel)]="apellido" placeholder="Modifica tu Apellido">
        <button (click)='guardarApellido()'>Guardar</button>

        <h5>Dirección</h5>
        <input type="text" [(ngModel)]="direccion" placeholder="Modifica tu Dirección">
        <button (click)='guardarDireccion()'>Guardar</button>

        <h5>Fecha de nacimiento</h5>
        <input type="date" [(ngModel)]="fecha" placeholder="Modifica tu fecha de nacimiento">
        <button (click)='guardarFecha()'>Guardar</button>

        <h5>Sexo</h5>
        <input type="text" [(ngModel)]="sexo" placeholder="Modifica tu Sexo">
        <button (click)='guardarSexo()'>Guardar</button>

        <h5>Teléfono</h5>
        <input type="number" [(ngModel)]="telefono" placeholder="Modifica tu Teléfono">
        <button (click)='guardarTelefono()'>Guardar</button>
    </div>
</div>