<div class="container-fluid">


    <div class="row mt-3 justify-content-center">
        <!--datos dashboard histórico-->
        <div class="col-12">
            <h4 class="titulosRosa text-center">HISTÓRICO</h4>
        </div>
        <!--titulo-->
        <div class="col-12">
            <h5 class="titulosRosa textoALaIzquierda">Antecedentes personales:</h5>
        </div>
        <!--titulo-->


        <div class="col-6 text-center">
            <!--Datos a tener-->
            <br><br>
            <div class="row">
                <!--Nombre y apellido-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Nombre y Apellido:</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--Nº historia-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Ref. historia clínica:</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--fecha-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Fecha de nacimiento:</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--sexo-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Sexo:</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--teléfono-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Teléfono:</h5>
                </div>
            </div>
            <hr>

        </div>

        <div class="col-6 text-center">
            <!--Datos Usuario-->
            <br><br>
            <div class="row">
                <!--Nombre y apellido-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.nombre }} {{ usuario.paciente.apellido }}</h5>
                </div>
            </div>
            <hr>

            <div class="row">
                <!--Nº historia-->
                <div class="col-12">
                    <h5 *ngIf="usuario" class="textAzul textoALaIzquierda">{{usuario.uid}}</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--fecha-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.nacimiento }}</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--sexo-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.genero }}</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--teléfono-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.telefono }}</h5>
                </div>
            </div>
            <hr>

        </div>

        <div class="col-12">
            <h4 class="titulosRosa textoALaIzquierda">Antecedentes clínicos:</h4>
        </div>
        <!--titulo-->

        <div class="col-6 text-center">
            <!--Datos a tener antecedentes-->
            <br><br>
            <div class="row">
                <!--antecedentes-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Antecedente patológico:</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--alergias-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">Alergias medicamentosas:</h5>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-6 text-center">
            <!--Datos Usuario antecedentes-->
            <br><br>
            <div class="row">
                <!--antecedente-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.antecedentes }}</h5>
                </div>
            </div>
            <hr>

            <div class="row">
                <!--alergia-->
                <div class="col-12">
                    <h5 class="textAzul textoALaIzquierda">{{ usuario.paciente.alergias }}</h5>
                </div>
            </div>
            <hr>

        </div>



    </div>

    <div class="row">
        <div class="col-12 text-center textoAzul">
            <h4>HISTORIAL DE CITAS</h4>
        </div>
    </div>

    <div class="row" *ngIf="citas.length === 0">
        <div class="col text-center titulosRosa">
            <h5>No posee consultas registradas todavía.</h5>
        </div>
    </div>

    <div class="row mt-3" *ngIf="citas.length !== 0">
        <div class="col-12 mt-3" *ngFor="let cita of citas">

            <table class="table textoAzul table-responsive  d-flex justify-content-center">

                <tbody>

                    <tr>
                        <th scope="row">ID:</th>
                        <td>{{ cita.id }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Fecha y Hora:</th>
                        <td>{{ cita.fecha }} a las {{ cita.hora }} hrs</td>
                    </tr>

                    <tr>
                        <th scope="row">Tratamiento:</th>
                        <td>{{ cita.tratamiento }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Costo:</th>
                        <td>{{ cita.costo }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Récipe:</th>
                        <td>{{ cita.recipe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Archivos:</th>
                        <td>Archivo.archivo</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>
