<app-nav-dash></app-nav-dash>

<div class="container-fluid">


    <div class="row justify-content-center">
        <!--datos dashboard histórico-->
        <br>
        <div class="col-12">
            <h1 class="titulosRosa text-center">HISTÓRICO</h1>
        </div>
        <!--titulo-->
        <div class="col-12">
            <h3 class="titulosRosa textoALaIzquierda">Antecedentes personales:</h3>
        </div>
        <!--titulo-->


        <div class="col-6 text-center">
            <!--Datos a tener-->
            <br><br>
            <div class="row">
                <!--Nombre y apellido-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Nombre y Apellido:</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--Nº historia-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Ref. historia clínica:</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--fecha-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Fecha de nacimiento:</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--sexo-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Sexo:</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--teléfono-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Teléfono:</h4>
                </div>
            </div>
            <hr>

        </div>

        <div class="col-6 text-center">
            <!--Datos Usuario-->
            <br><br>
            <div class="row">
                <!--Nombre y apellido-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>

            <div class="row">
                <!--Nº historia-->
                <div class="col-12">
                    <h4 *ngIf="usuario" class="textAzul textoALaIzquierda">{{usuario.uid}}</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--fecha-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--sexo-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--teléfono-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>

        </div>

        <div class="col-12">
            <h3 class="titulosRosa textoALaIzquierda">Antecedentes clínicos:</h3>
        </div>
        <!--titulo-->

        <div class="col-6 text-center">
            <!--Datos a tener antecedentes-->
            <br><br>
            <div class="row">
                <!--antecedentes-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Antecedente patológico:</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--alergias-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">Alergias medicamentosas:</h4>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-6 text-center">
            <!--Datos Usuario antecedentes-->
            <br><br>
            <div class="row">
                <!--antecedente-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>

            <div class="row">
                <!--alergia-->
                <div class="col-12">
                    <h4 class="textAzul textoALaIzquierda">###</h4>
                </div>
            </div>
            <hr>

        </div>



    </div>


    <div class="row">
        <!--tabla citas-->
        <br><br>
        <table class="table ">
            <thead class="fondoGris titulosRosa">
                <tr>
                    <th scope="col">CONSULTAS</th>
                    <th scope="col">FECHAS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>##</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>##</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>##</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>