<div class="row">
    <div class="col text-center textoAzul mb-2">
        <h4>MIS PACIENTES</h4>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let usuario of pacientesDoc; let i = index">
        <div class="row textoAzul">
            <div class="col-7 col-sm-8">
                <h5>Email: {{ usuario.data.email }}</h5>
                <h5>Nombre y apellido: {{ usuario.data.paciente.nombre }} {{ usuario.data.paciente.apellido }}</h5>
            </div>
            <div class="col-5 col-sm-4 d-flex ">
                <button class="h-75 w-100 btn btn-primary text-center align-self-center" (click)="mostrarPerfil(i)">PERFIL</button>
            </div>
        </div>
        <div class="row" *ngIf="perfilActivo[i]">
            <div class="col">
                <div class="mt-3">
                    <div class="row align-items-center">

                        <div class="col-12">
                            <table class="table">
                                <!-- tabla que muestra datos de usuario -->
                                <tbody>
                                    <tr>
                                        <th scope="row">Género:</th>
                                        <td>{{ usuario.data.paciente.genero }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nacimiento:</th>
                                        <td>{{ usuario.data.paciente.nacimiento }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Teléfono:</th>
                                        <td>{{ usuario.data.paciente.telefono }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dirección:</th>
                                        <td>{{ usuario.data.paciente.direccion }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Antecedentes:</th>
                                        <td>{{ usuario.data.paciente.antecedentes }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Alergias:</th>
                                        <td>{{ usuario.data.paciente.alergias }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </li>
</ul>