<div class="row dashboard sticky-top">

    <div class="col-md-7 col-xs-2 col-sm-2">
        <!-- Menu Responsive de dashboard/tipo hamburguesa -->

        <div class="row">

            <div class="col">

                <!-- Menu -->
                <nav class="navbar navbar-expand-md navbar-light text-center">
                    <div class="col-md-8 d-sm-none align-self-center">
                        <img class="align-self-center img-fluid" src="../../../assets/logoHorizontal.png" alt="">
                    </div>

                    <button class="navbar-toggler self" data-toggle="collapse" data-target="#menu-header" aria-controls="menu-header" aria-expanded="false" aria-label="Menu">
                            <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="menu-header">
                        <ul class="navbar-nav nav-justified d-flex align-items-center">

                            <!-- Items del menu -->
                            <li *ngFor="let navegacion of navbar" class="nav-item h-100">
                                <a class="nav-link" href={{navegacion.url}}>{{navegacion.nombre}}</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CITAS
                              </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="mis-citas-paciente">Crear cita</a>
                                    <a class="dropdown-item" href="mis-citas-paciente">Cancelar cita</a>
                                    <a class="dropdown-item" href="mis-citas-paciente">Consultar cita</a>
                                </div>
                            </li>
                            <li class="nav-item h-100 d-flex d-md-none">
                                <a class="nav-link btn btn-light h-100 w-100" href='/iniciar-sesion' (click)='salir()'>SALIR</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-3">
        <!-- Logo -->
        <img class="img-fluid d-none d-md-flex" src="../../../assets/logoHorizontal.png" alt="" routerLink="/inicio">
    </div>
    <div class="col-2 align-content-center text-center">
        <a routerLink="/iniciar-sesion" class="btn btn-light h-75 w-100 d-none d-md-block" (click)='salir()'>SALIR</a>
    </div>
</div>