<div class="container-fluid h-100">
    <div class="row">
        <div class="col">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard-paciente">MI PERFIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mis-citas-paciente">MIS CITAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mi-historia-paciente">MI HISTORIA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mis-pagos-paciente">MIS PAGOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/iniciar-sesion">SALIR</a>
                </li>
            </ul>
        </div>
    </div>
</div>