<app-header></app-header>

<div class="container-fluid">

    <div class="row m-4">
        <div class="col text-center">
            <h1 class="titulosRosa display-4 font-weight-bold">INGRESAR AL SISTEMA</h1>
        </div>
    </div>

    <div class="row">

        <div class="col m-1">
            <form (submit)='iniciarSesion()'>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="font-weight-bold textoAzul">Dirección de correo electrónico</label>
                    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="font-weight-bold textoAzul">Contraseña</label>
                    <input [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}" type="password" class="form-control" required>
                </div>
                <div class="row m-2">
                    <div class="col-6">
                        <a href="/registro">¿No tienes una cuenta? Regístrate</a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="">¿Has olvidado tu contraseña?</a>
                    </div>
                </div>
                <div class="d-flex justify-content-center m-5">
                    <button type="submit" class="h-100 w-100 btn btn-primary btn-block">ENTRAR</button>
                </div>
            </form>
        </div>

    </div>

</div>

<app-footer></app-footer>