<div class="row header">

    <!-- Logo -->
    <div class="col-3">
        <img class="img-fluid d-none d-md-flex" src="../../../assets/images/logoAdolfDentalCare.png" alt="" routerLink="/inicio">
    </div>

    <div class="col-md-7">

        <!-- Cuadro gris de contactos se ve hasta lg -->
        <div class="contactos row justify-content-between d-none d-lg-flex">

            <!-- Correo -->
            <div class="col-4 align-self-center textAzul text-center">
                <a href="mailto:AdolfDCare?Subject=Interesado%20en%20ustedes">
                    <h6>AdolfDCare@gmail.com</h6>
                </a>
            </div>

            <!-- Redes Sociales -->
            <div class="col-2 align-self-center">
                <a href="mailto:AdolfDCare@gmail.com?Subject=Interesado%20en%20ustedes">
                    <img src="../../../assets/images/mail.png" class="imagen align-self-center mr-3 img-fluid p-1" alt="...">
                </a>
            </div>
            <div class="col-2 align-self-center">
                <a href="https://www.instagram.com/adolfdentalcare/">
                    <img src="../../../assets/images/instagram-2.png" class="imagen align-self-center mr-3 img-fluid p-1" alt="...">
                </a>
            </div>
            <div class="col-2 align-self-center">
                <a href="https://twitter.com/adolfdentalcare">
                    <img src="../../../assets/images/twitter.png" class="imagen align-self-center mr-3 img-fluid p-1" alt="...">
                </a>
            </div>
            <div class="col-2 align-self-center">
                <a href="https://api.whatsapp.com">
                    <img src="../../../assets/images/whatsapp.png" class="imagen align-self-center mr-3 img-fluid p-1" alt="...">
                </a>
            </div>
            <!-- Finaliza Redes Sociales -->

        </div>

        <div class="row">

            <div class="col">

                <!-- Menu responsive -->
                <nav class="navbar navbar-expand-md navbar-light text-center">
                    <div class="col-8 d-md-none align-self-center">
                        <img class="align-self-center img-fluid" src="../../../assets/images/logoHorizontal.png" alt="">

                    </div>

                    <button class="navbar-toggler self" data-toggle="collapse" data-target="#menu-header" aria-controls="menu-header" aria-expanded="false" aria-label="Menu">
                            <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="menu-header">
                        <ul class="navbar-nav w-100 nav-justified d-flex align-items-center">

                            <!-- Items del menu -->
                            <li *ngFor="let navegacion of navbar" class="nav-item h-100">
                                <a class="nav-link" (click)="open(navegacion.url)">{{navegacion.nombre}}</a>
                            </li>

                            <!-- Boton integrado ingresar -->
                            <li class="nav-item d-md-none">
                                <button type="button" class="btn btn-light"><a (click)="open('iniciar-sesion')">INGRESAR</a></button>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-2 align-self-center d-none d-md-flex">
        <!-- Btn ingresar -->
        <img src="../../../assets/images/ingresar.png" class="img-fluid d-none d-md-flex" alt="" (click)="open('iniciar-sesion')">
    </div>

</div>