<app-header></app-header>

<div class="row">
    <!-- menu inicio REVISAR POR QUE IMAGEN REPETIDAA!!-->
    <div class="col-12">
        <div class="jumbotron fondoNuestroPortal img-fluid">
            <h1 class="display-12 textoBlanco text-center">TU ÁREA DE CONOCIMIENTO PERSONAL</h1>
            <hr class="my-3">
            <div class="row">
                <div class="col-6 text-center">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">REGÍSTRATE</a>
                    </p>
                </div>
                <div class="col-6 text-center">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">INICIAR SESIÓN</a>
                    </p>
                </div>
                <br>
            </div>

        </div>

    </div>
</div>

<div class="row fondoGris textoAzul">
    <!-- Separador de ventajas-->
    <div class="col text-center">
        <br>
        <h2>VENTAJAS DE USAR NUESTRO PORTAL</h2>
        <br>
    </div>
</div>
<br>
<div class="row">
    <!-- Ventajas de la página -->
    <div class="col-xs-12 col-md-4"><img src="../../../assets/ventaja1.png" class="img-fluid" alt=""></div>
    <div class="col-xs-12 col-md-4"><img src="../../../assets/ventaja2.png" class="img-fluid" alt=""></div>
    <div class="col-xs-12 col-md-4"><img src="../../../assets/ventaja3.png" class="img-fluid" alt=""></div>
</div>

<br>
<hr>
<!-- Separador de página con espacio -->

<div class="row">
    <!-- Encontrarnos en redes sociales -->
    <div class="col-md-6 d-none d-md-block text-center">
        <img src="../../../assets/telefono.png" width="300px" class="img-fluid" alt="">
    </div>
    <div class="col-sm-12 col-md-6 textoAzul text-center">
        <br><br><br>
        <h3>También puedes encontrarnos en tu móvil</h3>
        <h4>¡Aplicación Adolf Dental Care!</h4>
        <img src="../../../assets/ios.png" class="img-fluid" width="250px" alt="">
        <img src="../../../assets/android.png" class="img-fluid" width="250px" alt="">

    </div>
</div>

<!-- Separador de página con decoración -->
<div class="row">
    <div class="col-12 fondoRosado"><br></div>
    <div class="col-12 backAzul"><br></div>
</div>

<div class="row">
    <!-- Tipos de usuario de la página -->
    <div class="col-12 text-center textoAzul"><br>
        <h2>Tipos de usuario en nuestro portal</h2><br></div>
    <div class="col-xs-12 col-md-4"><img src="../../../assets/usuario1.png" class="img-fluid" alt=""></div>
    <div class="col-xs-12 col-md-4"><img src="../../../assets/usuario2.png" class="img-fluid" alt=""></div>
    <div class="col-xs-12 col-md-4"><img src="../../../assets/usuario3.png" class="img-fluid" alt=""></div>
</div>

<!-- Separador de página con decoración -->
<div class="row">
    <div class="col-12 fondoRosado"><br></div>
    <div class="col-12 backAzul"><br></div>
</div>

<div class="row">
    <!-- Cómo acceder al portal -->
    <div class="col col-lg-6 img-fluid text-center">
        <img src="../../../assets/computadoraNuestroPortal.png" width="450px" alt="">
    </div>
    <div class="col col-lg-6 textoAzul text-center">
        <br><br><br>
        <h1>¿Cómo acceder a nuestro portal?</h1>
        <br>
        <h3>Tan solo es necesario pinchar en el botón INGRESAR y acceder</h3>
    </div>

</div>

<app-footer></app-footer>
