<div class="container justify-content-between">

    <div class="row textoAzul">

        <div class="col-10 text-center mt-4"><!-- pregunta de inicio -->
            <h4>¿Qué opciones hay en el portal de Administrador?</h4>
            <br>
        </div>

        <div class="col-md-2 col-lg-2 d-none d-md-block img-fluid">
            <img src="../../../../assets/images/tecnicoSIIII.png" width="150%" alt="">
       
        </div>
            <!-- opciones de adm explicadas -->
        <div class="col-12">
            <br>
            <h5>-Administrar usuarios: cambio de roles, bloqueo de usuario, restablecimiento de contraseña.</h5>
            <h5>-Acceso a estadísticas generales: cantidad de citas por odontólogo, cantidad de citas en un rango de fecha, citas pendientes, ingresos generados en un lapso de tiempo.</h5>
            <h5>-Manejo de porcentaje que se le cobra a cada usuario.</h5>
         
         </div>



    </div>

    


</div>