<div class="container-fluid">

    <div class="row">

        <div class="col-12 titulosRosa text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h4>EESTADO DE CUENTA</h4>
        </div>

    </div>

    <div class="row">

        <div class="col-12 textoAzul text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h5>PAGOS PENDIENTES</h5>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <li class="list-group-item" *ngFor="let pagoPen of pagosPendientes">

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Tratamiento:</h5>
                        <h6>{{ pagoPen.tratamiento }}</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Costo:</h5>
                        <h6>{{ pagoPen.costo }} $</h6>
                    </div>
                </div>

            </li>
        </div>

    </div>

</div>
