<div class="container-fluid">

    <div class="row">

        <div class="col-12 titulosRosa text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h5>ESTADO DE CUENTA</h5>
        </div>

    </div>

    <div class="row">

        <div class="col-12 textoAzul textoALaIzquierda mt-3">
            <!-- titulo estado de cuenta -->
            <h5>Pagos pendientes:</h5>
        </div>

    </div>

    <div class="row mt-3 mb-3" *ngIf="pagosPendientes.length === 0">
        <div class="col">
            <h5 class="textoAzul text-center">No tiene pagos pendientes.</h5>
        </div>
    </div>

    <div class="row">

        <div class="col-12  justify-content-center">
            <li class="list-group-item" *ngFor="let pagoPen of pagosPendientes">

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Tratamiento:</h5>
                        <h6>{{ pagoPen.tratamiento }}</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Costo:</h5>
                        <h6>{{ pagoPen.costo }} $</h6>
                    </div>
                </div>

            </li>
        </div>

    </div>

    <div class="row">

        <div class="col-12 textoAzul textoALaIzquierda mt-3">
            <!-- titulo estado de cuenta -->
            <h5>Facturas pagada:</h5>
        </div>

    </div>

    <div class="row" *ngIf="facturas.length === 0">
        <div class="col">
            <h5 class="textoAzul text-center">No tiene facturas pagas</h5>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <li class="list-group-item" *ngFor="let factura of facturas; index as i">

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Referencia:</h5>
                        <h6>{{ factura.ref }}</h6>
                        <h5>Costo:</h5>
                        <h6>{{ factura.monto }} $</h6>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-dark h-100 w-100" (click)="verDetalle(i)">Detalles</button>
                    </div>
                </div>

                <div class="row" *ngIf="detalle[i]">
                    <div class="col-12">

                        <table class="table textoAzul text-center">

                            <!-- tabla que muestra datos de la cita -->
                            <tbody>

                                <tr>
                                    <th scope="row">
                                        <h6 class="textoAzul">Información:</h6>
                                    </th>
                                    <td class="textoAzul">{{ factura.info }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <h6 class="textoAzul">Fecha:</h6>
                                    </th>
                                    <td class="textAzul">{{ factura.fecha }}</td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <h6 class="textoAzul">Medio de pago:</h6>
                                    </th>
                                    <td class="textAzul">{{ factura.medio }}</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </li>
        </div>


    </div>

</div>
