<div class="container">
    <div class="row">
        <div class="col-12 titulosRosa textoALaIzquierda mt-3">
            <h5>BANCO</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="textoAzul">Banco</h6>
                        </th>
                        <th scope="col">
                            <h6 class="textoAzul">N° de cuenta</h6>
                        </th>
                        <th scope="col">
                            <h6 class="textoAzul">Tipo de cuenta</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="textoAzul"> {{banco.banco}}</p>
                        </td>
                        <td>
                            <p class="textoAzul"> {{banco.identidad}}</p>
                        </td>
                        <td>
                            <p class="textoAzul">{{banco.tipoCta}}</p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-12 titulosRosa textoALaIzquierda">
            <h5>ZELLE</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="textoAzul">Correo Zelle</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="textoAzul"> {{zelle.email}}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 titulosRosa textoALaIzquierda">
            <h5>PAYPAL</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <h6 class="textoAzul">Correo Paypal</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="textoAzul">{{ paypal }}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
