<div class="row"> <!-- Titulo -->
    <div class="col-12 textAzul textoALaIzquierda">
        <br>
        <h2>NUESTROS SERVICIOS</h2>
    </div>
</div>

<hr><!-- Separador -->

<div class="row"><!--REVISAR-->

    <div class="col-12 col-md-6 col-lg-6 container-fluid">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../../../assets/tratamiento1.png" alt="Card image cap">
            <div class="card-body backGris">
              <h5 class="card-title titulosRosa text-center">ODONTOLOGÍA GENERAL</h5>
              <p class="card-text textAzul">Consiste en prevenir, diagnosticar y tratar los problemas comunes del público, si desea o requiere un chequeo o rutina general como: eliminación de caries, limpieza o prótesis bucal sin compromiso estético, funcional o periodontal, este es su servicio indicado.</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 container-fluid">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../../../assets/tratamiento2.png" alt="Card image cap">
            <div class="card-body backGris">
              <h5 class="card-title titulosRosa text-center">CIRUGÍA DENTAL</h5>
              <p class="card-text textAzul">Contamos con extracción de los terceros molares incluidos (cordales), extracciones dentarias simples, colocación de implantes y cirugías periapicales, extirpación y biopsia de lesiones orales menores; entre otras. La mayoría de estos procedimientos se realizan bajo anestesia local.</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 container-fluid">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../../../assets/tratamiento5.png" alt="Card image cap">
            <div class="card-body backGris">
              <h5 class="card-title titulosRosa text-center">ORTODONCIA</h5>
              <p class="card-text textAzul">Contamos con aparatos preajustados que aplican fuerza ligera que permite mover los dientes logrando posiciones ideales, tenemos también tratamientos de ortodoncia convencionales como brackets y  usamos técnicas de modificación del crecimiento craneofacial.</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 container-fluid">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../../../assets/tratamiento3.png" alt="Card image cap">
            <div class="card-body backGris">
              <h5 class="card-title titulosRosa text-center">BLANQUEAMIENTO DENTAL</h5>
              <p class="card-text textAzul">Consiste en un tratamiento dental estético que logra reducir varios tonos el color original de las piezas dentales, dejando los dientes más blancos y brillantes. Éste elimina la mayoría de las manchas producidas por té, café, otras infusiones, cigarrillos, vino tinto y entre otras sustancias y alimentos.</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 container-fluid">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="../../../assets/tratamiento6.png" alt="Card image cap">
            <div class="card-body backGris">
              <h5 class="card-title titulosRosa text-center">IMPLANTES DENTALES</h5>
              <p class="card-text textAzul">Son pequeños dispositivos de titanio en forma de cilindro que son capaces de oseointegrarse a las estructuras maxilares para sustituir los dientes perdidos por caries, traumatismos y enfermedad periodontal, evitando las prótesis removibles.</p>
            </div>
          </div>
    </div>







</div>

<hr>
<div class="row"><!--Hacerse servicio-->
<div class="col-6"><h1 class="textAzul text-center">Si desea hacerse uno de nuestros tratamientos</h1></div>
<div class="col-6"><a class="btn btn-primary btn-lg" href="" role="button">Solicita servicio</a></div>

</div>
