<div class="container">
   
    <div class="row">  <!-- introducción(texto) -->

        <div class="col-12 textoAzul text-center">
            <h4>Estadística de cantidad de citas en un rango de fechas</h4>
            <br>
            <p>Seleccione el lapso de tiempo que desea ver en la estadística de citas</p>
            <br>
        </div>
        
    </div>


    <div class="row textoALaIzquierda textoAzul">

        <div class="col-6">

            <h6>rango de fechas seleccionar(no se como lo trabajaran)</h6>

        </div>
        <div class="col-6">
            <button type="button" class="btn btn-dark">Ver estadística</button>

        </div>
    </div>





</div>
