<div class="container-fluid">

    <div class="row mt-3 mb-3">
        <!-- texto introductorio -->
        <div class="col-12 text-center titulosRosa">
            <h5>ESTADÍSTICAS: citas pendientes</h5>
        </div>

    </div>

    <li class="list-group-item" *ngFor="let cita of citasPendientes">

        <div class="row textoAzul text-center">
            <div class="col-12">
                <h6>Tratamiento: {{ cita.tratamiento }}</h6>
                <h6>ID: {{ cita.id }}</h6>
                <h6>Fecha: {{ cita.fecha }}</h6>
            </div>
        </div>

    </li>

</div>