.dashboard {
    background-color: #242e63;
    border-radius: 0 0 1em 1em;
}

.imagen {
    width: 64px;
}

.navbar-light .navbar-nav .nav-link {
    color: #c4c4c4;
}

.altura {
    min-height: 100px;
}

.logo {
    max-height: 70px;
}