<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col text-center textoAzul">
            <h4>MIS CONSULTAS</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 text-center d-none d-md-flex align-self-center textoAzul">
            <h5>Crear una cita</h5>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-end">
            <button class="btn btn-dark h-100 w-100" (click)="crearCita()">CREAR CITA</button>
        </div>
    </div>

    <div class="row" *ngIf="citaActiva">
        <div class="col">
            <app-crear-cita></app-crear-cita>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3 titulosRosa text-center">
            <h5>La siguiente lista muestra única y exclusivamente las citas que han sido confirmadas por usted. Si desea registrar la consulta de alguna cita que no aparezca en la siguiente lista, por favor diríjase a "Administrar Citas" y proceda a confirmar
                la misma.</h5>
                <h5>Lista de consultas: </h5>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-lista-citas></app-lista-citas>
        </div>
    </div>


</div>
