<div class="container-fluid">

    <div class="row mt-3 mb-3">
        <!-- introducción(texto) -->

        <div class="col-12 titulosRosa text-center">
            <h5>ESTADÍSTICAS: ingresos por rango de fecha</h5>
            <br>
            <h6 class="textoALaIzquierda textoAzul">Seleccione el lapso de tiempo que desea ver en la estadística de citas</h6>
        </div>

    </div>

    <div class="row">
        <div class="col textoAzul">
            <h6>Fecha inicial:</h6>
            <input type="date" class="form-control textoAzul" [(ngModel)]="fechaInicial" [ngModelOptions]="{standalone: true}">
        </div>
    </div>

    <div class="row">
        <div class="col textoAzul">
            <h6>Fecha final:</h6>
            <input type="date" class="form-control textoAzul" [(ngModel)]="fechaFinal" [ngModelOptions]="{standalone: true}">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-dark h-100 w-100" (click)="verEstadistica()">Ver estadística</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row" *ngIf="ver">
        <div class="col textoAzul">
            <h6>Ingresos en el rango de fecha especificado: {{ cantidad }} $</h6>
        </div>
    </div>




</div>