<div class="row">
    <div class="col text-center">
        <h1>LISTA DE USUARIOS</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
        Cras justo odio
      </a>
            <i class="fas fa-user-circle"></i>
            <i class="far fa-user-circle"></i>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
        </div>
    </div>
</div>