<div class="row">
    <div class="col text-center  mb-2">
        <h4 class="titulosRosa">LISTA DE USUARIOS</h4>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let usuario of listaUsuarios; let i = index">
        <div class="row textoAzul">
            <div class="col-7 col-sm-8">
                <h5>Email: {{ usuario.data.email }}</h5>
                <h5>Tipo de usuario: {{ usuario.data.tipo.toUpperCase() }}</h5>
            </div>
            <div class="col-5 col-sm-4 d-flex ">
                <button class="h-75 w-100 btn btn-primary text-center align-self-center" (click)="mostrarPerfil(i)">Perfil</button>
            </div>
        </div>
        <div class="row" *ngIf="perfilActivo[i]">
            <div class="col" *ngIf="usuario.data.tipo === 'paciente'">
                <div class="mt-3">
                    <div class="row align-items-center">

                        <div class="col-12">
                            <table class="table">
                              <!-- tabla que muestra datos de usuario -->
                                <tbody>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Nombre:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.nombre }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Apellido:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.apellido }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Género:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.genero }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Nacimiento:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.nacimiento }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Teléfono:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.telefono }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Dirección:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.direccion }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Antecedentes:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.antecedentes }}</p></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"><h5 class="textoAzul">Alergias:</h5></th>
                                    <td><p class="textoAzul">{{ usuario.data.paciente.alergias }}</p></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                    </div>
                    
                </div>
            </div>
            <div class="col textoAzul" *ngIf="usuario.data.tipo === 'doctor'">
                <h1>Soy un doctor</h1>
            </div>
            <div class="col textoAzul" *ngIf="usuario.data.tipo === 'admin'">
                <h1>Soy un administrador</h1>
            </div>
        </div>
    </li>
</ul>