
<div class="container-fluid footer">
    <div>
        <div class="row">
            <!-- Seccion de breve descricion de la clinica -->
            <div class="col-sm-12 col-md-4 text-center">
               <!-- Logo -->
                <img class="img-fluid " src="../../../assets/logoAdolfDentalCare.png" width="50%" alt="">
                <p class="texto d-none d-md-block textoALaIzquierda">Nuestra clínica odontológica se dedica a brindar atención odontológica especializada e integral, para ofrecer las mejores y más adecuadas opciones de tratamiento a nuestros pacientes.</p>
            </div>
            <!-- Accesos Rapidos -->
            <div class="col-sm-6 col-md-4 align-self-center">
                <div class="navbar">
                    <div class="navbar-inner">
                            <p class="resaltado"> Accesos Rapidos</p>
                            <div class="texto">
                                <a>Inicio</a><br>
                                <a>Sobre Nosotros</a><br>
                                <a>Servicios</a><br>
                                <a>Contacto</a>
                            </div>
                    </div>
                </div>
            </div>

            <!-- Contactanos -->
            <div class="col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-12"><br><h4 class="resaltado">¡CONTÁCTANOS!</h4></div>
                    <div class="col-6 texto text-center"><br><img src="../../../assets/mail.png" width="20%"><p>mail@ejemplo.com</p> </div>
                    <div class="col-6 texto text-center"> <br><img src="../../../assets/telefono.png" width="20%"><p>0212-555-5555</p></div>
                    <div class="col-4 text-center"><br><img src="../../../assets/gorjeo-2.png" width="30%"></div>
                    <div class="col-4 text-center"><br><img src="../../../assets/instagram-2.png" width="30%"></div>
                    <div class="col-4 text-center"><br><img src="../../../assets/whatsApp.png" width="30%"></div>
                  
                    
                </div>

            </div>
        </div>
        

        <hr>  <!-- Separador -->
        <div class="row">  <!--Derechos R-->
            <div class="col-12 text-center">
                <br>
                <p class="resaltado">2020 © Adolf Dental Care.  All Rights Reserved.</p>
            </div>
        </div>
              
    </div>
</div>

