
<div class="container-fluid footer">
    <div class="row col-12">
        <div class="row">
            <!-- Seccion de breve descricion de la clinica -->
            <div class="col-4">
               <!-- Logo -->
                <img class="img-fluid imagen rounded mx-auto d-block" src="../../../assets/logoAdolfDentalCare.png" alt="">
                <p class="texto">Nuestra clínica odontológica se dedica a brindar atención odontológica especializada e integral, para ofrecer las mejores y más adecuadas opciones de tratamiento a nuestros pacientes.</p>
            </div>
            <!-- Accesos Rapidos -->
            <div class="col-4">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="texto">
                            <p class="resaltado"> Accesos Rapidos</p>
                            <li>Inicio</li>
                            <li>Sobre Nosotros</li>
                            <li>Servicios</li>
                            <li>Contacto</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contactanos -->
            <div class="col-4">
                <p class="resaltado">Contactanos</p>
                <div class="texto">
                    <!-- Mail -->
                    <div>
                        <p>mail@ejemplo.com</p>
                    </div>
                    <!-- Telefono -->
                    <div>
                        <p>0212-555-5555</p>
                    </div>
                    <!-- Redes Sociales -->
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col">
            <p class="resaltado">2020 © Adolf Dental Care.  All Rights Reserved.</p>
        </div>
        <!-- Img de derechos reservados -->
        <div class="col">

        </div>      
    </div>
</div>