<div class="foot row backAzul mt-3">

    <!-- Seccion de breve descricion de la clinica -->
    <div class="col-md-4 text-center align-self-center">
        <!-- Logo -->
        <img class="img-fluid w-50" src="../../../assets/logoAdolfDentalCare.png" alt="">
        <p class="textoBlanco d-none d-md-block text-center">Nuestra clínica odontológica se dedica a brindar atención odontológica especializada e integral, para ofrecer las mejores y más adecuadas opciones de tratamiento a nuestros pacientes.</p>
    </div>

    <!-- Accesos Rapidos -->
    <div class="col-sm-6 col-md-4 align-self-center">
        <nav class="navbar navbar-light d-flex justify-content-center">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link enlace" href="inicio">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" href="sobre-nosotros">SOBRE NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" href="servicios">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" href="nuestro-portal">NUESTRO PORTAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace" href="contacto">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Contactanos -->
    <div class="col-sm-6 col-md-4">

        <div class="row">

            <div class="col text-center mb-2"><br>
                <h3 class="titulosRosa">¡CONTÁCTANOS!</h3>
            </div>

        </div>

        <div class="row">

            <div class="col-12 textoBlanco text-center">
                <img src="../../../assets/mail.png" class="img-fluid imagen">
                <p>AdolfDCare@gmail.com</p>
            </div>

            <div class="col-12 textoBlanco text-center">
                <img src="../../../assets/whatsapp.png" class="img-fluid imagen">
                <p>0212-555-5555</p>
            </div>

        </div>
        <div class="row">

            <div class="col-4 text-center"><img src="../../../assets/gorjeo-2.png" class="img-fluid imagen"></div>
            <div class="col-4 text-center"><img src="../../../assets/instagram-2.png" class="img-fluid imagen"></div>
            <div class="col-4 text-center"><img src="../../../assets/whatsapp.png" class="img-fluid imagen"></div>

        </div>

    </div>

</div>

<div class="backAzul row">
    <!-- Separador -->
    <div class="col-12">
        <hr>
    </div>

    <!--Derechos R-->
    <div class="col-12 text-center">
        <p class="titulosRosa copyrights font-weight-bold">2020 © Adolf Dental Care. All Rights Reserved.</p>
    </div>
</div>