<app-header></app-header>

<div class="row justify-content-end">
    <!-- Inicio Sobre nosotros -->

    <div class="col-3 d-none d-lg-block img-fluid text-left">
        <img src="../../../assets/lineasParaFondoMasLargas.png" width="20%" alt="">

    </div>
    <div class="col-xs-12 col-md-7 col-lg-5 text-center">
        <br>
        <h1 class="textoAzul">SOBRE NOSOTROS</h1>
        <h3 class="textoAzul">Ciudado dental de alta calidad</h3>
        <br>
        <h3 class="titulosRosa textoALaIzquierda">Quiénes Somos</h3>
        <p class="textoAzul textoALaIzquierda">Adolf Dental Care es una compañía que presta servicios sanitarios odontológicos en Venezuela. Cubrimos todas las especialidades médicas con un equipo de profesionales prestigioso.</p>

    </div>
    <div class=" col-5 col-lg-4 img-fluid d-none d-sm-block text-center">
        <img src="../../../assets/odontologosSobreNosotros.png" width="100%" alt="">


    </div>

</div>

<!-- Separador de página con decoración -->
<div class="row">
    <div class="col-12 fondoRosado"><br></div>
    <div class="col-12 backAzul"><br></div>
</div>

<div class="row">
    <!-- Nuestros valores-->
    <div class="col-4 img-fluid d-none d-sm-block"><br><img src="../../../assets/valorSobreNosotros.png" width="80%" alt=""></div>
    <div class="col-md-8 col-sm-8 col-xs-12">
        <br><br>
        <h2 class="textAzul text-center">NUESTROS VALORES</h2>
        <h4 class="textoALaIzquierda textoAzul">Los valores que trabajamos son las bases que apoyan nuestra forma de trabajar, actuar y ayudar a los demás. Algunos de ellos son: trabajo en equipo, sensibilidad, responsabilidad y honestidad.</h4>
    </div>
</div>

<app-footer></app-footer>
