<div class="container">
    <div class="row">
        <div class="col text-center mt-2">
            <h4 class="titulosRosa  font-weight-bold">CAMBIO DE CLAVE</h4>
        </div>
    </div>
    <div class="row textoAzul d-flex justify-content-center">
        <div class="col-12 col-md-6 textAzul">
            <form [formGroup]="cambioClave">
                <div class="form-group col-12">
                    <h6 for="exampleInputEmail1">Correo Electrónico</h6>
                    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3 mb-3 ">
        <div class="col-12 col-md-6">
            <button type="submit" class="btn btn-primary h-100 w-100" (click)="cambiarClave()">SOLICITAR CLAVE</button>
        </div>
    </div>
</div>