<div class="container">
    <div class="row">
        <div class="col text-center mt-2">
            <h4 class="titulosRosa  font-weight-bold">CAMBIO DE CLAVE</h4>
        </div>
    </div>
    <div class="row textoAzul">
        <div class="col textAzul">
            <form [formGroup]="cambioClave">
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electrónico</label>
                    <input style="width : 500px" type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
                </div>
                <div class="d-flex justify-content-center">
                    <button style="width : 500px" type="submit" class="btn btn-primary mt-3" (click)="cambiarClave()">SOLICITAR CAMBIO DE CLAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>
