.backAzul{
  background-color: #242e63;
}

.backGris{
  background-color: #aaa;
}

.textAzul{
  color: #242e63;
}

@font-face {
  font-family: NotoSerif;
  src: url(assets/NotoSerif-Regular.ttf) format("opentype");
}

.textoBlanco{
  color: #ffff;
}
.fondoGris{
  background-color: #c4c4c4;
}
.textoAzul{
  color: #242e63;
}

.fondoRosado{
  background-color:#e9168b ;
}