<div class="row">
    <div class="col-12 text-center textoAzul mt-3">
        <h4 class="titulosRosa">ADMINISTRAR HISTORIAS</h4>
    </div>
</div>

<div class="row">
    <div class="col col-12 d-flex  text-center mt-4 textAzul">
        <h5>Cree un paciente que no posee perfil en el sistema:</h5>
        <button class="btn btn-dark w-50 h-100" (click)="verForm()">Crear paciente</button>
    </div>
</div>

<div class="row" *ngIf="creacionPaciente">
    <div class="col">
        <app-crear-paciente></app-crear-paciente>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 textoAzul">
        <h5>Seleccione el paciente del que desee ver la historia clínica:</h5>
        <div class="col-12">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="pacienteActivo" [ngModelOptions]="{standalone: true}">
            <option></option>
            <option *ngFor="let paciente of pacientes">{{ paciente.uid }} - {{ paciente.paciente.nombre }} {{ paciente.paciente.apellido }}</option>
          </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-2">
    <div class="col-6">
        <button class="btn btn-dark h-100 w-100" (click)="verHistoria()">Ver historia del paciente</button>
    </div>
</div>

<div class="row mt-3" *ngIf="seleccionado">
    <div class="col-12">

        <li class="list-group-item">

            <div class="row">
                <div class="col text-center textoAzul">
                    <h5>PERFIL</h5>
                </div>
            </div>

            <div class="row">
                <div class="col textoAzul">
                    <table class="table textoAzul">

                        <tbody>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Nombre y Apellido:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.paciente.nombre }} {{ paciente.paciente.apellido }}</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Email:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.email }}</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Dirección:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.paciente.direccion }}</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Nacimiento:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.paciente.nacimiento }}</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Género:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.paciente.genero }}</p>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <h5 class="textoAzul">Teléfono:</h5>
                                </th>
                                <td>
                                    <p class="textoAzul">{{ paciente.paciente.telefono }}</p>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </li>

    </div>
</div>

<div class="row mt-3" *ngIf="seleccionado">
    <div class="col">
        <li class="list-group-item">

            <div class="row">
                <div class="col text-center textoAzul">
                    <h5>HISTORIA CLÍNICA</h5>
                </div>
            </div>

            <div class="row mt-3" *ngFor="let cita of historia; index as i">
                <div class="col">
                    <div class="row">
                        <div class="col-12">

                            <table class="table textoAzul table-responsive">

                                <tbody>

                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">ID:</h5>
                                        </th>
                                        <td>
                                            <p class="textoAzul">{{ cita.id }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Fecha y Hora:</h5>
                                        </th>
                                        <td>
                                            <p class="textoAzul">{{ cita.fecha }} a las {{ cita.hora }} hrs</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Tratamiento:</h5>
                                        </th>
                                        <td>
                                            <p class="textoAzul">{{ cita.tratamiento }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Costo:</h5>
                                        </th>
                                        <td>
                                            <p class="textoAzul">{{ cita.costo }}</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Récipe:</h5>
                                        </th>
                                        <td>
                                            <p class="textoAzul">{{ cita.recipe }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Archivo actual:</h5>
                                        </th>
                                        <td>
                                            <a [href]="historia[i].archivo" target="blank">Enlace de descarga</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <h5 class="textoAzul">Cambiar archivo:</h5>
                                        </th>
                                        <td>
                                            <input type="file" (change)="uploadFile($event, i)" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
