<div class="container-fluid">

    <div class="row">
        <div class="col-12 titulosRosa text-center">
            <h5>ESTADÍSTICAS: cantidad de citas por odontológo</h5>
            <br><br>
        </div>
    </div>

    <div class="row" *ngFor="let odontologo of odontologos; index as i">
        <div class="col textoAzul">
            <h6>Odontólogo: {{ odontologo.doctor.nombre }} {{ odontologo.doctor.apellido }}</h6>
            <h6>Cantidad de Citas: {{ cantidadCitas[i] }}</h6>
            <hr class="separar">
        </div>
    </div>








</div>