<div class="container">

    <div class="row">

        <div class="col-12 textAzul text-center mt-3 mb-4">
            <h4>Cromograma</h4>
        </div>

        <div class="col-12 d-flex justify-content-center">

            <table class="table table-light table-responsive-md text-center">
                <thead>
                    <tr class="titulosRosa">
                        <th scope="col">HORA</th>
                        <th scope="col">DOMINGO</th>
                        <th scope="col">LUNES</th>
                        <th scope="col">MARTES</th>
                        <th scope="col">MIÉRCOLES</th>
                        <th scope="col">JUEVES</th>
                        <th scope="col">VIERNES</th>
                        <th scope="col">SÁBADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="titulosRosa">10:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">11:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">12:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">13:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">14:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">15:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="titulosRosa">16:00</th>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                        <td><input type="checkbox" [checked]='true' class="form-control"></td>
                    </tr>
                </tbody>
            </table>






        </div>




    </div>










</div>
