<div class="container">

    <div class="row">

        <div class="col-12 textAzul text-center mt-3 mb-4">
            <h4>Cromograma</h4>
        </div>

        <div class="col-12">

            <table class="table">
                <thead>
                  <tr class="titulosRosa">
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sábado</th>
                    <th scope="col">Domingo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="textoAzul">
                    <td>SI</td>
                    <td>NO</td>
                    <td>NO</td>
                    <td>SI</td>
                    <td>SI</td>
                    <td>SI</td>
                    <td>NO</td>

                  </tr>
                  
                </tbody>
              </table>






        </div>




    </div>










</div>
