<header class="container-fluid">
    <div class="row">
        <div class="col-3">
            <!-- Logo -->
            <img class="img-fluid" src="../../../assets/logoAdolfDentalCare.png" alt="">
        </div>
        <div class="col">
            <div class="row">
                <!-- Cuadro gris de contactos -->
                <div class="contactos col-8 d-none d-md-flex">
                    <div class="media col">
                        <img src="../../../assets/mail .png" class="imagen align-self-center mr-3 col-4" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="">AdolfDC@gmail.com</a></h6>
                        </div>
                    </div>
                    <div class="media col">
                        <div class="media-body">
                            <h6 class="mt-0"><a href="">Soporte: 0212-555-5555</a></h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- Botón de Ingresar -->
                    Ingresar
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-md">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
