


<header class="container-fluid">

    <div class="row">

        <div class="col-3"><!-- Logo -->
            
            <img class="img-fluid" src="../../../assets/logoAdolfDentalCare.png" alt="">
        </div>
        
        <div class="col-mg-7"> <!-- Cuadro gris de contactos se ve hasta lg -->
             
            <div class="contactos row justify-content-between d-none d-lg-flex">

                        <div class="col-2 align-self-center"> <!-- Imagen correo -->
                            <img src="../../../assets/mail.png" class="imagen align-self-center mr-3 img-fluid" alt="...">
                        </div>
    
                        <div class="col-4 align-self-center"><!-- Correo -->
                            <div class="media-body">
                               <h5>AdolfDC@gmail.com</h5>
                           </div>
                        </div>
    
                        <div class="col-2 align-self-center"><!-- Instagram -->
                            <img src="../../../assets/instagram-2.png" class="imagen align-self-center mr-3 img-fluid" alt="...">
                        
                        </div>
                        <div class="col-2 align-self-center"><!-- Twitter -->
                            <img src="../../../assets/twitter.png" class="imagen align-self-center mr-3 img-fluid"  alt="...">
                        
                        </div>
                        <div class="col-2 align-self-center"><!-- Wha-->
                            <img src="../../../assets/whatsapp.png" class="imagen align-self-center mr-3 img-fluid" alt="...">
                        
                        </div>
                    
                
            </div>

            <div class="row">
                <div class="col"><!-- Menu responsive -->
                    <nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#menu-header" aria-controls="menu-header" aria-expanded="false" aria-label="Menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="menu-header">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="" class="nav-link active">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">Sobre Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">Nuestro portal</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">Contacto</a>
                                </li>
                                



                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-2 align-self-center "><!-- Btn ingresar ARREGLAR RESPONSIVE-->
            <button type="button" class="btn btn-light">Ingresar</button>
        </div>

    </div>
</header>
