<app-header></app-header>

<div class="container-fluid">

    <div class="row m-3">

        <div class="col text-center">
            <h1 class="titulosRosa display-4 font-weight-bold">PLANILLA DE REGISTRO</h1>
        </div>

    </div>

    <div class="row">

        <div class="col">

            <form class="formularios m-2" [formGroup]="registro" (submit)="registrar(registro)">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputEmail4">Correo electrónico</label>
                        <input type="email" class="form-control" formControlName='email' required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Contraseña</label>
                        <input type="password" class="form-control" formControlName='contrasena' required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Repetir contraseña</label>
                        <input type="password" class="form-control" formControlName='vContrasena' required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Apellido</label>
                        <input type="text" class="form-control" formControlName="apellido" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputAddress2">Fecha de nacimiento</label>
                        <input type="date" class="form-control" formControlName="nacimiento" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputAddress2">Teléfono</label>
                        <input type="text" class="form-control" formControlName="telefono" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleFormControlSelect1">Género</label>
                        <select class="form-control" formControlName='genero' required>
                        <option>Masculino</option>
                        <option>Femenino</option>
                      </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="inputCity">Dirección de habitación</label>
                        <input type="text" class="form-control" formControlName="direccion" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Antecedentes médicos</label>
                        <input type="text" class="form-control" formControlName="antecedentes" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Alergias medicamentosas</label>
                        <input type="text" class="form-control" formControlName="alergias" required>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center m-3">
                    <button type="submit" href="iniciar-sesion" class="enlace h-100 w-100 btn btn-primary">REGISTRARME</button>
                </div>
            </form>

        </div>

    </div>

</div>

<app-footer></app-footer>