<div class="conteiner">

    <div class="row">
        <!-- título introducción -->

        <div class="col-12  text-center titulosRosa">
            <h5>PORCENTAJE DE COBRO DE USUARIOS-DOCTOR</h5>
            <br>
        </div>

    </div>


    <div class="row textoAzul">
        <!--selección usuario -->
        <div class="col-5">
            <h6>Seleccione Odontólogo:</h6>
        </div>
        <div class="col-7">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="perfilActivo" [ngModelOptions]="{standalone: true}">
                  <option></option>
                  <option *ngFor="let doctor of doctores">{{ doctor.id }} - {{ doctor.data.doctor.nombre }} {{ doctor.data.doctor.apellido }}</option>
                </select>
                </div>
            </form>
            <button (click)="actualizar()" class="btn btn-dark h-50">Ver doctor</button>
        </div>
    </div>

    <div class="row textAzul" *ngIf="doctorcito != null">
        <!-- datos usuario-->
        <div class="col-6">
            <br>
            <p>Nombre:</p>
            <hr>
            <!-- <p>Consultas realizadas:</p>
            <hr>
            <p>Ganancias:</p>
            <hr> -->
            <p>Porcentaje de cobro actual:</p>
            <hr>
        </div>
        <div class="col-6">
            <br>
            <p>{{ doctorcito[0].data.doctor.nombre }} {{ doctorcito[0].data.doctor.apellido }}</p>
            <hr>
            <p>{{ doctorcito[0].data.doctor.porcentaje }}</p>
            <hr>
        </div>

    </div>

    <div class="row textoAzul">
        <!-- cambio de porcentaje -->
        <div class="col-6 text-left">
            <br><br>
            <h6>Nuevo porcentaje:</h6>
        </div>
        <div class="col-6">
            <br><br>
            <input type="number" [(ngModel)]="nPorcentaje" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-12 text-center">
            <br>
            <button class="enlace h-75 w-50 btn btn-primary" (click)="cambiar()">Cambiar Porcentaje</button>
        </div>
    </div>










</div>