<div class="conteiner">

    <div class="row"><!-- título introducción -->

        <div class="col-12 textoAzul text-center">
            <h4>Porcentaje de cobro de Usuarios</h4>
            <br>
        </div>
        
    </div>


    <div class="row textoAzul"><!--selección usuario -->
        <div class="col-4">
            <p>Seleccione usuario:</p>
        </div>
        <div class="col-8">
            <h6>NO SE COMO TRABAJEN LOS USUARIOS PERO AQUI VA</h6>
        </div>
    </div>
<!-- COLOCAR INVISIBLE HASTA QUE SE SELECCIONE USUARIO? O DEJAR ASI? -->
    <div class="row textAzul"><!-- datos usuario-->
        <div class="col-6">
            <br>
            <p>Nombre:</p>
            <hr>
            <p>Consultas realizadas:</p>
            <hr>
            <p>Ganancias:</p>
            <hr>
            <p>Porcentaje de cobro actual:</p>
            <hr>
        </div>
        <div class="col-6">
            <br>
            <p>###</p>
            <hr>
            <p>##</p>
            <hr>
            <p>##</p>
            <hr>
            <p>##</p>
            <hr>
        </div>

    </div>

    <div class="row textoAzul"><!-- cambio de porcentaje -->
        <div class="col-6 text-left">
            <br><br>
            <h4>Nuevo porcentaje:</h4>
        </div>
        <div class="col-6">
            <br><br>
            <input type="text">
        </div>
        <div class="col-12">
            <br>
            <button class="enlace h-100 w-100 btn btn-primary">Cambiar Porcentaje</button>
        </div>
    </div>










</div>