<div class="container-fluid">
    <div class="row m-3">
        <div class="col textoAzul text-center">
            <h4>ADMINISTRAR CITAS</h4>
        </div>
    </div>

    <div class="row mt-3" *ngIf="idCitas.length !== 0; then thenBlock else elseBlock">
    </div>

    <ng-template #thenBlock>

        <li class="list-group-item" *ngFor="let cita of agendaCitas; index as i">

            <div class="row textoAzul text-center">
                <div class="col-12 col-sm-8">
                    <h5>Paciente:</h5>
                    <h6>{{ pacientes[i].paciente.nombre }} {{ pacientes[i].paciente.apellido }}</h6>
                    <h5>Id de cita:</h5>
                    <h6>{{ cita.id }}</h6>
                </div>
                <div class="col-12 col-sm-4 d-flex">
                    <button class="h-100 w-100 btn btn-primary text-center align-self-center" (click)="mostrarCita(i)">DETALLES</button>
                </div>
            </div>

            <div class="row" *ngIf="citaActiva[i]">
                <div class="col">
                    <div class="row align-items-center mt-3">

                        <div class="col-12">

                            <table class="table textoAzul">

                                <tbody>

                                    <tr>
                                        <th scope="row">Cita confirmada:</th>
                                        <td *ngIf="cita.confirmada; then confirmada else noConfirmada" class="align-items-center"></td>

                                        <ng-template #confirmada>
                                            <p>Sí</p>
                                        </ng-template>
                                        <ng-template #noConfirmada>
                                            <p>No</p>
                                        </ng-template>
                                    </tr>

                                    <tr>
                                        <th scope="row">Tratamiento:</th>
                                        <td>{{ cita.tratamiento }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Fecha y hora:</th>
                                        <td>{{ cita.fecha }} a las {{ cita.hora }} hrs</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div class="col-12 col-md-6">
                    <button class="btn btn-dark text-center h-100" (click)="cambiarFecha(i)">CAMBIAR FECHA</button>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <button class="btn btn-dark text-center h-100" (click)="cancelarCita(i)">CANCELAR</button>
                </div>
            </div>

            <div class="row m-3" *ngIf="accion[i] === 1">
                <div class="col">

                    <div class="row">

                        <div class="col-12 textoAzul">
                            <h5>Seleccione una fecha:</h5>
                            <input type="date" name="" id="" class="form-control" [(ngModel)]="fechaActiva" [ngModelOptions]="{standalone: true}" value="hoy">
                        </div>


                    </div>

                    <div class="row mt-3">

                        <div class="col d-flex justify-content-center">
                            <button (click)="verHorario(i)" class="btn btn-dark h-100">VER HORAS</button>
                        </div>

                    </div>

                    <div class="row m-3">

                        <div class="col-12 textoAzul" *ngIf="seleccionada[i]">
                            <h5>Seleccione la hora de su cita:</h5>
                            <form action="">
                                <div class="form-group">
                                    <select class="form-control" [(ngModel)]="horaActiva" [ngModelOptions]="{standalone: true}">
                                      <option *ngFor="let hora of horario">{{ hora.hora }}</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="row" *ngIf="seleccionada[i]">
                        <div class="col d-flex justify-content-center">
                            <button (click)="cambiar(i)" class="btn btn-dark h-100">CAMBIAR</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class="row" *ngIf="accion === 2">
                <div class="col-12 text-center textoAzul">
                    <h5>¿Está seguro que desea cancelar su cita?</h5>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <button class="btn btn-dark text-center h-100" (click)="cancelar()">SÍ</button>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <button class="btn btn-dark text-center h-100" (click)="cancelarCita()">NO</button>
                </div>
            </div>
        </li> -->
    </ng-template>

    <ng-template #elseBlock>
        <div class="col textoAzul text-center mb-3">
            <h5>No tiene citas próximas</h5>
        </div>
    </ng-template>

</div>