<div class="container-fluid">

    <div class="row">

        <div class="col-12 titulosRosa text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h4>PAGAR</h4>
        </div>

    </div>

    <div class="row">

        <div class="col-12 textoAzul text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h5>PAGOS PENDIENTES</h5>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <li class="list-group-item" *ngFor="let pagoPen of pagosPendientes; index as i">

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Tratamiento:</h5>
                        <h6>{{ pagoPen.tratamiento }}</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Costo:</h5>
                        <h6>{{ pagoPen.costo }} $</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <input class="form-control" type="checkbox" [(ngModel)]="citaSeleccionada[i]" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </li>
        </div>

    </div>

    <div class="row d-flex justify-content-center" *ngIf="pagosPendientes.length !== 0">
        <div class="col-12 col-md-6">
            <button class="btn btn-dark h-100 w-100" (click)="seleccionarCitas()">PAGAR CITAS</button>
        </div>
    </div>

    <div class="row" *ngIf="pago">
        <div class="col text-center textoAzul mt-3">
            <h5>MÉTODOS DE PAGO</h5>
        </div>
    </div>

    <div class="row" *ngIf="pago">
        <div class="col mt-3">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="metodoDePago" [ngModelOptions]="{standalone: true}">
                      <option>Paypal</option>
                      <option>Zelle</option>
                      <option>Transferencia Bancaria</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Paypal'">
        <div class="col">
            <h1>PAGO CON PAYPAL</h1>
        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Zelle'">
        <div class="col">
            <h1>PAGO CON ZELLE</h1>
        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Transferencia Bancaria'">
        <div class="col">
            <h1>PAGO CON BANCO</h1>
        </div>
    </div>

    <!-- <div class="row">

        <div class="col-12 titulosRosa text-center"> titulo estado de cuenta
            <br>
            <h4>Método de Pago </h4>
            <br>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Formas de Pago</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="../../../../assets/images/banco-2.png" width= "30%" class="img-fluid text-center" alt="">
                    </th>
                    <td><img src="../../../../assets/images/paypal.png" width= "30%" class="img-fluid text-center" alt="">
                    </td>
                    <td><img src="../../../../assets/images/zelleSI.png" class="img-fluid text-center" width= "100%" alt="">
                    </td>

                </tbody>
              </table>
        </div>

        <div class="col-12 textoALaIzquierda titulosRosa">
            <h5>Reportar Pago o Transferencia</h5>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><h5 class="textoAzul">Pago</h5></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><h5 class="textoAzul">Fecha de la transferencia:</h5></th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row"><h5 class="textoAzul">Nombre del Banco:</h5></th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row"><h5 class="textoAzul">Titular:</h5></th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row"><h5 class="textoAzul">Referencia:</h5></th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row"><h5 class="textoAzul">Monto de la Transferencia:</h5></th>
                    <td>##</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-12">
            <button type="submit" href="reportar pago" class="enlace h-100 w-100 btn btn-primary">Registrar Pago</button>

        </div> -->





    <!-- PAYPAL MÉTODO -->
    <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
            <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
            <div id="paypal-checkout-btn"></div> -->





</div>
