<div class="container">

    <div class="row">

        <div class="col-12 titulosRosa text-center"> <!-- titulo estado de cuenta -->
            <br>
            <h4>Método de Pago </h4>
            <br>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Formas de Pago</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src="../../../../assets/images/banco-2.png" width= "30%" class="img-fluid text-center" alt="">
                    </th>
                    <td><img src="../../../../assets/images/paypal.png" width= "30%" class="img-fluid text-center" alt="">
                    </td>
                    <td><img src="../../../../assets/images/zelleSI.png" class="img-fluid text-center" width= "100%" alt="">
                    </td>
                
                </tbody>
              </table>
        </div>

        <div class="col-12 textoALaIzquierda titulosRosa">
            <h5>Reportar Pago o Transferencia</h5>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pago</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Fecha de la transferencia:</th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row">Nombre del Banco:</th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row">Titular:</th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row">Referencia:</th>
                    <td>##</td>
                  </tr>
                  <tr>
                    <th scope="row">Monto de la Transferencia:</th>
                    <td>##</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-12">
            <button type="submit" href="reportar pago" class="enlace h-100 w-100 btn btn-primary">Registrar Pago</button>
                
        </div>





<!-- PAYPAL MÉTODO -->
            <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
            <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
            <div id="paypal-checkout-btn"></div> -->



    

</div>
