<div class="container-fluid">

    <div class="row">

        <div class="col-12 titulosRosa text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h4>PAGAR</h4>
        </div>

    </div>

    <div class="row">

        <div class="col-12 textoAzul text-center mt-3">
            <!-- titulo estado de cuenta -->
            <h5>PAGOS PENDIENTES</h5>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <li class="list-group-item" *ngFor="let pagoPen of pagosPendientes; index as i">

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Tratamiento:</h5>
                        <h6>{{ pagoPen.tratamiento }}</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <h5>Costo:</h5>
                        <h6>{{ pagoPen.costo }} $</h6>
                    </div>
                </div>

                <div class="row textoAzul text-center">
                    <div class="col-12">
                        <input class="form-control" type="checkbox" [(ngModel)]="citaSeleccionada[i]" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>

            </li>
        </div>

    </div>

    <div class="row d-flex justify-content-center" *ngIf="pagosPendientes.length !== 0">
        <div class="col-12 col-md-6">
            <button class="btn btn-dark h-100 w-100" (click)="seleccionarCitas()">PAGAR CITAS</button>
        </div>
    </div>

    <div class="row" *ngIf="pago">
        <div class="col text-center textoAzul mt-3">
            <h5>MÉTODOS DE PAGO</h5>
        </div>
    </div>

    <div class="row" *ngIf="pago">
        <div class="col mt-3">
            <form action="">
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="metodoDePago" [ngModelOptions]="{standalone: true}">
                      <option>Paypal</option>
                      <option>Zelle</option>
                      <option>Transferencia Bancaria</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Paypal'">
        <div class="col">
            <h1>PAGO CON PAYPAL</h1>
        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Transferencia Bancaria'">
        <div class="col">

            <div class="row">
                <div class="col">
                    <h5>REPORTAR PAGO VÍA TRANSFERENCIA BANCARIA</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Titular de la cuenta:</h6>
                    <input type="email" class="form-control" [(ngModel)]="titular" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Banco:</h6>
                    <input type="text" class="form-control" [(ngModel)]="banco" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Referencia:</h6>
                    <input type="text" class="form-control" [(ngModel)]="referencia" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-3">
                <div class="col-12 col-md-6">
                    <button class="btn btn-dark h-100 w-100" (click)="reportarPagoBanco()">REPORTAR PAGO</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="metodoDePago === 'Zelle'">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>REPORTAR PAGO VÍA ZELLE</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Email:</h6>
                    <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Nombre:</h6>
                    <input type="text" class="form-control" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h6>Referencia:</h6>
                    <input type="text" class="form-control" [(ngModel)]="referencia" [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="row d-flex justify-content-center mb-3">
                <div class="col-12 col-md-6">
                    <button class="btn btn-dark h-100 w-100" (click)="reportarPagoZelle()">REPORTAR PAGO</button>
                </div>
            </div>

        </div>
    </div>




    <!-- PAYPAL MÉTODO -->
    <!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
            <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
            <div id="paypal-checkout-btn"></div> -->





</div>
